.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

#home {
    margin-top: 0;
}

@media (max-width: 400px) {
    img {
        margin-top: 6vh;
        width: 100vw;
    }
}