.projects {
    margin-top: 20vh;
    margin-bottom: 30vh;
    margin-right: 4vw;
    margin-left: 4vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 1rem;
    overflow: hidden;
    margin-bottom: 20vh;
}

.project-header{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    color: white;
    text-align: center;
    background: black;
    margin-top: 30vh;
    margin-bottom: 30vh;
    background-size: 100% 100%;
    font-size: 8em;
    margin-bottom: 0;
}

.project{
    padding: 2rem 1.8rem;
    background: rgba(255,255,255,0.3);
    border-radius: 1.2rem;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #FFF;
    width: 25vw;
    height: 35vh;
    margin-bottom: 20px;
}

.project:hover{
      transform: translateY(-5px);
      background-color: #16ff645d;
}

header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #ff16ce;
}

.body{
    margin-left: 2vw;
}
.project-links{
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      a > img {
        width: 2.6rem;
      }
    
    
    .project h3{
        margin-top: 0;
      margin-bottom: 2rem;
    }

    .project p{
      letter-spacing: 0.12rem;
      margin-bottom: 2rem;
    }

    .project img {
        margin-top: 0;
    }

    a{
        color: #FFFF;
        transition: color 0.25s;

      }
    a:hover{
          color: var(--green);
        }
      

    .project-footer{
      margin-top: auto;
    }
      .tech-list{
        display: flex;
        text-align: center;
        gap: 2rem;
        font-size: 1.4vh;
        opacity: 0.6;
        overflow: hidden;
          white-space: nowrap;
      }

  

    @media (max-width: 1628px){
        .project {
       padding-right: .5vw;
       padding-left: .5vw;
      }
    }

    @media (max-width: 1200px){
        .projects {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }
        .project {
            width: 37vw;
            padding-right: .5vw;
            padding-left: .5vw;
           }

    }

    @media (max-width: 900px){
        .projects {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }

        .project {
            padding-right: .5vw;
            padding-left: .5vw;
            width: 37vw;
           }

    }

    @media (max-width: 700px){
        .projects {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        .project {
            padding-right: .5vw;
            padding-left: .5vw;
            width: 80vw;
            margin: auto;
            margin-top: 5vh;
           }

    }

    @media (max-width: 1000px){
        .project-header {
            font-size: 7em;
            height: 250px;
            margin-top: 40vh;
            margin-bottom: 40vh;
        }
    
    }