.bio {
    height: 110vh;
    color: white;
}

#bio {
  margin-right: 3vw;
  margin-left: 3vw;
}

.hability{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.hard-skills img {
      width: 36px;
      height: 36px;
  }

img#oracle {
    width: 100px;
    height: 100px;
}

img#portrait {
  margin-top: 10vh;
  margin-bottom: 10vh;
}



  .hard-skills{
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.8rem;
  }

  .about-image{
    text-align: center;
  }
.about-image img{
     margin-top: 14rem;
     width: 500px;
     height: 600px;
     filter: grayscale(1);
     transition: filter 0.5s;
     margin: auto;
}
.about-image img:hover{
       filter: grayscale(0);
}   

@media (max-width: 600px) {
  .hard-skills {
  justify-content: center;
      align-items: center;
  }

  #bio {
    color: white;
     gap: 2rem;
      font-size: .9em;
  }

  .about-image img{
    width: 90%;
    height: 90%;
  }
}

@media (min-width: 1000px){
  #bio {
    color: white;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-top: 12rem;
     display: grid;
    grid-template-columns: 1fr 1fr;
     gap: 2rem;
}

p {
  color: white;
}
}