.link-container {
    display: flex;
    flex-direction: column;
    text-align: right;
    border: 4px solid red;
    width: 900px;
    margin-right: 20px;
}

label {
    padding: 1.6rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

label:hover {
    filter: brightness(0.7);
    cursor: pointer;
}

button {
    border: 1px solid white;
    background-color: green;
    border-radius: 5px;
    height: 2rem;
    width: 8rem;
    margin: 1.6rem;
}

button:hover {
    background-position: 0 0;
    transition: 0.5s;
    filter: brightness(1.2);
    /*animation: shine 5s infinite linear;*/
}

.logo-container {
    display: flex;
    text-align: left;
    margin-left: 20px;
    border: 4px solid green;
    width: 30vw;
    font-size: 1.8em;
}

.header-container {
    display: flex;
    flex-direction: row;
    border: 7px solid yellow;
    background-color: rgb(255, 255, 255, .4);
    justify-content: center;
    align-items: center;
    height: 7vh;
    text-decoration: none;
}

.stylized-p{
    font-family: 'Anton', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: green;
  }

  .stylized-benny{
    font-family: 'Anton', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: pink;
  }

  a {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
  }

  a:link {
      text-decoration: none;
  }

  a:visited {
      text-decoration: none;
  }

  a:hover {
      text-decoration: none;
  }

  a:active {
      text-decoration: none;
  }

  @media (max-width: 1100px) {
      label {
          padding: 1rem;
      }
      button {
          margin: 1rem;
      }
  }

  @media (max-width: 900px) {
    label {
        font-size: 60%;
        padding: .4rem;
    }
    button {
        margin: .4rem;
    }
}

@keyframes shine {
    0%{
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
    }
    1% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 1%, #d3d3d3 74%);
    }
    2% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 2%, #d3d3d3 74%);
    }
    39% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 3%, #d3d3d3 74%);
    }
    4% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 4%, #d3d3d3 74%);
    }
    5% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 5%, #d3d3d3 74%);
    }
    6% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 6%, #d3d3d3 74%);
    }
    7% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 7%, #d3d3d3 74%);
    }
    8% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 8%, #d3d3d3 74%);
    }
    9% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 9%, #d3d3d3 74%);
    }
    10% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 10%, #d3d3d3 74%);
    }
    11% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 11%, #d3d3d3 74%);
    }
    12% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 12%, #d3d3d3 74%);
    }
    13% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 13%, #d3d3d3 74%);
    }
    14% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 14%, #d3d3d3 74%);
    }
    15% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 15%, #d3d3d3 74%);
    }
    16% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 16%, #d3d3d3 74%);
    }
    17% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 17%, #d3d3d3 74%);
    }
    18% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 18%, #d3d3d3 74%);
    }
    19% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 19%, #d3d3d3 74%);
    }
    20% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 20%, #d3d3d3 74%);
    }
    21% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 21%, #d3d3d3 74%);
    }
    22% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 22%, #d3d3d3 74%);
    }
    23% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 23%, #d3d3d3 74%);
    }
    24% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 24%, #d3d3d3 74%);
    }
    25% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 25%, #d3d3d3 74%);
    }
    26% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 26%, #d3d3d3 74%);
    }
    27% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 27%, #d3d3d3 74%);
    }
    28% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 28%, #d3d3d3 74%);
    }
    29% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 29%, #d3d3d3 74%);
    }
    30% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 30%, #d3d3d3 74%);
    }
    31% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 31%, #d3d3d3 74%);
    }
    32% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 32%, #d3d3d3 74%);
    }
    33% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 33%, #d3d3d3 74%);
    }
    34% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 34%, #d3d3d3 74%);
    }
    35% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 35%, #d3d3d3 74%);
    }
    36% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 36%, #d3d3d3 74%);
    }
    37% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 37%, #d3d3d3 74%);
    }
    38% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 38%, #d3d3d3 74%);
    }
    39% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 39%, #d3d3d3 74%);
    }
    41% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 41%, #d3d3d3 74%);
    }
    42% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 42%, #d3d3d3 74%);
    }
    43% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 43%, #d3d3d3 74%);
    }
    44% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 44%, #d3d3d3 74%);
    }
    45% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 45%, #d3d3d3 74%);
    }
    46% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 46%, #d3d3d3 74%);
    }
    47% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 47%, #d3d3d3 74%);
    }
    48% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 48%, #d3d3d3 74%);
    }
    49% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 49%, #d3d3d3 74%);
    }
    50% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 50%, #d3d3d3 74%);
    }
    51% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 51%, #d3d3d3 74%);
    }
    52% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 52%, #d3d3d3 74%);
    }
    53% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 53%, #d3d3d3 74%);
    }
    54% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 54%, #d3d3d3 74%);
    }
    55% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 55%, #d3d3d3 74%);
    }
    56% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 56%, #d3d3d3 74%);
    }
    57% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 57%, #d3d3d3 74%);
    }
    58% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 58%, #d3d3d3 74%);
    }
    59% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 59% #d3d3d3 74%);
    }
    60% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 60% #d3d3d3 74%);
    }
    61% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 61% #d3d3d3 74%);
    }
    62% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 62% #d3d3d3 74%);
    }
    63% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 63% #d3d3d3 74%);
    }
    64% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 64% #d3d3d3 74%);
    }
    65% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 65% #d3d3d3 75%);
    }
    66% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 66% #d3d3d3 76%);
    }
    67% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 67% #d3d3d3 77%);
    }
    68% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 68% #d3d3d3 78%);
    }
    69% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 69% #d3d3d3 79%, #565f61 89%);
    }
    70% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 70% #d3d3d3 80% #565f61 90%);
    }
    71% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 71% #d3d3d3 81% #565f61 91%);
    }
    72% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 72% #d3d3d3 82%);
    }
    73% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 73% #d3d3d3 83%);
    }
    74% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 74% #d3d3d3 84%);
    }
    75% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 75% #565f61 85%);
    }
    76% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 76% #565f61 86%);
    }
    77% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 77% #565f61 87%);
    }
    78% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 78% #565f61 88%);
    }
    79% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 79% #565f61 89%);
    }
    80% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 80% #565f61 90%);
    }
    81% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 81% #565f61 91%);
    }
    82% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 82% #565f61 92%);
    }
    83% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 83% #565f61 93%);
    }
    84% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 84% #565f61 94%);
    }
    85% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 85% #565f61 95%);
    }
    86% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 86% #565f61 96%);
    }
    87% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 87% #565f61 97%);
    }
    88% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 88% #565f61 98%);
    }
    89% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 89% #565f61 99%);
    }
    90% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 90% #565f61 100%);
    }
    91% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 91%);
    }
    92% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 92%);
    }
    93% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 93%);
    }
    94% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 94%);
    }
    95% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 95%);
    }
    96% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 96%);
    }
    97% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 97%);
    }
    98% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 98%);
    }
    99% {
        background-color: #2d3436;
        background-image: linear-gradient(360deg, #2d3436 0%, #2d3436 99%);
    }
    100% {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #2d3436 100%);
    }
    
}

