.footer-container {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, .4);
}

.bottom-logo-container {
    font-size: 1.8rem;
    border: 6px solid red;
    margin: auto;
    margin-left: 3vw;
}

.stylized-p{
    font-family: 'Anton', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: green;
  }

  .stylized-benny{
    font-family: 'Anton', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: pink;
  }

.kicker-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
}


img#react {
    animation: spinning 5s infinite linear;
    height: 1.3rem;
    width: 1.3rem;
}

img#github {
    margin-right: 3vw;
    height: 2.5rem;
    width: 2.5rem;
    background-color: white;
    border-radius: 1.9rem;
}

img#github:hover {
  background-color: rgba(255, 255, 255, 0.548);
}



@keyframes spinning {
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(360deg);
    }
  }

